<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Build-a-Creature</title>
    <link rel="stylesheet" href="/style.css"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');
        h1 {font-family: 'Emilys Candy', cursive}
    </style>
</head>
<body>
    <h2>You can start building your creature now!</h2>

<div  class="gridContainer">
    <div class="gridItem" id="available">
    <ul>
        <% for (let i=0; i<bodyparts.length; i++) { %> 
            <li>
                <a class="bodypart" href="/gardens/<%=bodyparts[i].id%>"><%=bodyparts[i].name%></a>
            </li>
            <br>
        <% } %> 
    </ul>
    </div>
    <div class="gridItem" id="inProcess">IN PROCESS</div>
</div>

</body>
</html>