<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Build-a-Creature</title>
    <link rel="stylesheet" href="/style.css"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');
        h1 {font-family: 'Emilys Candy', cursive}
    </style>
</head>
<body>
    <h2>You can start building your creature now!</h2>
    <h3>Check the body parts you want to use:</h3>

    <form action="/gardens/new" method="POST">

    <ul class="available">
        <% for (let i=0; i<bodyparts.length; i++) { %> 
            <li>
                <input type="checkbox" name="bodypart" class="bodypart" value="<%=bodyparts[i].id%>"/>
                <label for="<%=bodyparts[i].id%>"><%=bodyparts[i].name%></label>
            </li>
        <% } %> 
    </ul>
    <input type="submit" value="Create Creature" class="goto"/>
    </form>

</body>
</html>