<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Build-a-Creature</title>
    <link rel="stylesheet" href="/style.css"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');
        h1 {font-family: 'Emilys Candy', cursive}
    </style>
</head>
<body>
    <h2>You can start building your creature now!</h2>
    <h3>Pick the body parts you need from the box on the left.</h3>

<div  class="gridContainer">
    <div class="gridItem">
    <ul class="available">
        <% for (let i=0; i<bodyparts.length; i++) { %> 
            <li class="bodypart">
                <%=bodyparts[i].name%>
                <input type="submit" value="Pick" class="action">
            </li>
        <% } %> 
    </ul>
    </div>
    <div class="gridItem">IN PROCESS</div>
</div>
<input type="submit" value="CREATE" class="goto" id="create">

</body>
</html>