body {
    text-align: center;
    background-color: #f2cdac;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-right: 1rem;
}

h1 {
    font-size: 70px;
    text-align: center;
    letter-spacing: 2px;
    color: #023859
}
h2 {
    font-size: 24px;
    color: #023859;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

nav a, .goto, .back {
    font-family: 'Emilys Candy', cursive;
    text-decoration: none;
    color: whitesmoke;
    border: 2px solid #023859;
    border-radius: 10px;
    box-shadow: 0.5rem 0.5rem 1rem #f27a5e;
    padding: 0.5rem;
    background-color: #f27a5e;
    font-size: 24px;
    margin-right: 1rem;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.back {
    margin-top: 1rem;
}

.poke, .creature {
    font-family: 'Emilys Candy', cursive;
    text-decoration: none;
    font-size: 38px;
    color: #f27a5e;
}

.poke:visited, .creature:visited {
    color: black;
}

.edit:visited {
    color:#ffcc03;
}

ul {
    margin-top: 2rem;
    list-style: none;
    padding-inline-start: 0;
}

.edit, .delete, .action {
    background-color: #3f5ca8;
    color: #ffcc03;
    border: 2px solid #20376b;
    border-radius: 10px;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 18px;
}

.action {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.delete {
    margin-right: 1rem;
}

input[type=text], input[type=url], input[type=password], select, label {
    font-size: 18px;
}

div {
    display: flex;
    margin-top: 1rem;
}

img {
    margin-top: 2rem;
    border-width: 4px; 
    border-color: #f27a5e; 
    border-style: solid; 
    border-radius: 10px;
    box-shadow: 0.5rem 0.5rem 1rem #f27a5e;
}

.main_image {
    border: none;
    margin: 2rem auto 0 auto;
    justify-content: center;
    box-shadow: 0.5rem 0.5rem 1rem #3f5ca8;
}