<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Create a Creature</h1>
    <nav>
        <a href='/users/signup'>Sign Up</a>
    </br>
    </br>
        <a href='/users/login'>Login</a>
    </nav>
    
</body>
</html>