<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build-a-Creature</title>
    <link rel="stylesheet" href="/style.css"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');
        h1 {font-family: 'Emilys Candy', cursive}
    </style>
</head>
<body>
    
    <h2>These are the body parts you selected:</h2>
    <h3></h3>
NOT BEING USED ANYMORE
</body>
</html>